<div class="row">
  <div class="col-md-12">
    <form action="/changepass" method="POST">
      <legend>
        Change Password
      </legend>
      <div class="form-group">
        <label for="currPass">
          Current Password
        </label>
        <input type="password" name="currpass" autofocus class="form-control" />
      </div>
      <div class="form-group">
        <label for="newPass">
          New Password
        </label>
        <input type="password" name="newpass" autofocus class="form-control" />
      </div>
      <div class="form-group">
        <label for="confPass">
          Confirm New Password
        </label>
        <input type="password" name="confirmpass" autofocus class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Reset Password" />
      </div>
    </form>
  </div>
</div>