{{setVar "mainType" "vCenter"}}
<section class="change-password">
  <div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card">
				<form class="card-body" action="/changepass" method="post">
					<h3 class="text-center">Change Password</h3>

					<div class="md-form md-outline">
            <input id="currPass" type="password" class="form-control" name="currpass">
            <label for="currPass">Current Password</label>
					</div>

					<div class="md-form md-outline">
            <input id="newPass" type="password" class="form-control" name="newpass">
            <label for="newPass">New Password</label>
					</div>

          <div class="md-form md-outline">
            <input id="confPass" type="password" class="form-control" name="confirmpass">
            <label for="confPass">Confirm New Password</label>
					</div>

          <button type="submit" class="btn btn-md btn-primary">Reset Password</button>
				</form>
			</div>
		</div>
	</div>
</section>

{{!-- <div class="row">
  <div class="col-md-12">
    <form action="/changepass" method="POST">
      <legend>
        Change Password
      </legend>
      <div class="form-group">
        <label for="currPass">
          Current Password
        </label>
        <input type="password" name="currpass" autofocus class="form-control" />
      </div>
      <div class="form-group">
        <label for="newPass">
          New Password
        </label>
        <input type="password" name="newpass" autofocus class="form-control" />
      </div>
      <div class="form-group">
        <label for="confPass">
          Confirm New Password
        </label>
        <input type="password" name="confirmpass" autofocus class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Reset Password" />
      </div>
    </form>
  </div>
</div> --}}