{{!-- ================= Accordion 1 ================= --}}
{{!-- <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingPortfolio1">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapsePortfolio1"
                    aria-expanded="true" aria-controls="collapsePortfolio1">

                    <h2 class="mb-0 text-dark">
                        Small Images <i class="fas fa-angle-down rotate-icon"></i>
                    </h2>
                </a>

            </div>

            <!-- Card body -->
            <div id="collapsePortfolio1" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio1"
                data-parent="#accordionEx1">
                <div class="card-body">
                    <div class="row justify-content-start">

                        <div class="view overlay portoflio-img-sm m-1 rounded">
                            <img src="https://picsum.photos/500/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img-sm m-1 rounded">
                            <img src="https://picsum.photos/id/237/500/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img-sm m-1 rounded">
                            <img src="https://picsum.photos/id/1/500/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img-sm m-1 rounded">
                            <img src="https://picsum.photos/id/123/500/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <br>
    <br> --}}
{{!-- ================= Accordion 2 ================= --}}
{{!-- <div class="accordion md-accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingPortfolio1">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapsePortfolio2"
                    aria-expanded="true" aria-controls="collapsePortfolio2">

                    <h2 class="mb-0 text-dark">
                        Medium Images <i class="fas fa-angle-down rotate-icon"></i>
                    </h2>
                </a>

            </div>

            <!-- Card body -->
            <div id="collapsePortfolio2" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio1"
                data-parent="#accordionEx2">
                <div class="card-body">
                    <div class="row justify-content-start">

                        <div class="view overlay portoflio-img m-1 rounded">
                            <img src="https://picsum.photos/1000/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0 ">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img m-1 rounded">
                            <img src="https://picsum.photos/id/237/1000/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img m-1 rounded">
                            <img src="https://picsum.photos/id/1/1000/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img m-1 rounded">
                            <img src="https://picsum.photos/id/123/1000/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <br>
    <br> --}}
{{!-- ================= Accordion 3 ================= --}}
{{!-- <div class="accordion md-accordion" id="accordionEx3" role="tablist" aria-multiselectable="true">
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingPortfolio3">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx3" href="#collapsePortfolio3"
                    aria-expanded="true" aria-controls="collapsePortfolio3">

                    <h2 class="mb-0 text-dark">
                        Large Images <i class="fas fa-angle-down rotate-icon"></i>
                    </h2>
                </a>

            </div>

            <!-- Card body -->
            <div id="collapsePortfolio3" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio3"
                data-parent="#accordionEx3">
                <div class="card-body">
                    <div class="row justify-content-start">

                        <div class="view overlay portoflio-img-lg m-1 rounded">
                            <img src="https://picsum.photos/1000/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0 ">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="view overlay portoflio-img-lg m-1 rounded">
                            <img src="https://picsum.photos/id/237/1000/" class="img-fluid lozad" alt="">
                            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            My
                                            first
                                            picture
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            John Doe
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            100 &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>



    </div>

    <br>
    <br> --}}
{{!-- ================= Accordion 4 ================= --}}
<div class="accordion md-accordion" id="accordionEx4" role="tablist" aria-multiselectable="true">
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingPortfolio4">

            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx4" href="#collapsePortfolio4"
                aria-expanded="true" aria-controls="collapsePortfolio4">

                <h2 class="mb-0 text-dark">
                    Test Images<i class="fas fa-angle-down rotate-icon"></i>
                </h2>
            </a>

        </div>

        <!-- Card body -->
        <div id="collapsePortfolio4" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio4"
            data-parent="#accordionEx4">

            <div class="card-body">

                <div class="row justify-content-start">

                    <div class="view overlay portoflio-img m-1 rounded" data-toggle="modal"
                        data-target="#basicExampleModal">

                        <img src="https://picsum.photos/600/" class="img-fluid lozad" alt="">

                        <div class="mask flex-center waves-effect waves-light rgba-black-light">
                            <div
                                class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                <div class="row col-12 justify-content-between p-0">
                                    <h5 class="col-12 text-white text-left font-weight-bold">
                                        My
                                        first
                                        picture
                                    </h5>
                                    <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                        John Doe
                                    </h6>

                                    <h6 class="white-text text-right col-5">
                                        <i class="far fa-heart"></i>
                                        100 &nbsp;

                                        <i class="fas fa-comment"></i>
                                        20
                                    </h6>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        {{> profile/_portfolioModal}}

                    </div>
                </div>


            </div>

        </div>


    </div>
</div>



