<button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="text-white">&times;</span>
</button>

<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content mt-5 p-0">

        <div class="modal-header">
            <div class="col-12 row justify-content-between">
                <div class="col-3 row justify-content-start">

                    <div class="col-2 align-self-center p-0 h-100">
                        <img src="https://picsum.photos/id/659/100/" class="white img-fluid rounded-circle lozad "
                            alt="">
                    </div>

                    <div class="col-8 align-self-center pl-3 h-100">
                        <div class="row m-auto h-100 p-0">
                            <h5 class="col-12 p-0 align-self-start text-left font-weight-bold"> My First Picture</h5>
                            <h6 class="col-12 p-0 align-self-end text-left"> John Doe</h6>
                        </div>

                    </div>
                </div>

                <div class="col-2 align-self-center row justify-content-end p-0">
                    <button type="button" class="btn btn-secondary">Follow</button>
                </div>
            </div>



        </div>


    </div>

    <div class="modal-body justify-content-center black p-0">
        <div class="col-12 overflow-auto black p-4">
            {{!-- <img src="https://picsum.photos/1920/1080" class="img-fluid lozad mb-3" alt="">
                <img src="https://picsum.photos/1600/900" class="img-fluid lozad mb-3" alt=""> --}}
        </div>



    </div>

    <div class="modal-footer white">

        <div class="row col-12 justify-content-around">
            <div class="col-8 border-red">
                <h4 class="text-center"> Comments </h4>
                <hr>
                
                <div class="row">
                    <div class="col-2">
                        <img src="https://picsum.photos/id/659/100/" class="white w-65 img-fluid rounded-circle lozad "
                            alt="">
                    </div>
                    <div class="col-10">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-3 border-red">
                <h4 class="text-center"> Details </h4>
                <p class="text-muted"> Posted on 20 June</p>
            </div>
        </div>

    </div>
</div>