<button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="text-white">&times;</span>
</button>

<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content mt-5 p-0">

        <div class="modal-header">



            <div class="row justify-content-start border-red">

                <div class="col-3 align-self-center border-red">
                    <img src="https://picsum.photos/id/659/200/" class="white w-100 rounded-circle lozad " alt="">
                </div>





                <div class="col-5 align-self-center border-red">
                    <h5 class="pl-2 text-left"> John Doe</h5>
                </div>




            </div>



        </div>
        {{!-- <h5 class="modal-title text-center col-12" id="exampleModalLabel">My First
                Picture</h5> --}}

    </div>

    <div class="modal-body justify-content-center black p-0">
        <div class="col-12 overflow-auto black p-4">
            {{!-- <img src="https://picsum.photos/1920/1080" class="img-fluid lozad mb-3" alt="">
                <img src="https://picsum.photos/1600/900" class="img-fluid lozad mb-3" alt=""> --}}
        </div>



    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-8">
                <hr>

                <h4>My first picture</h4>

                <p class="text-muted"> Posted on 20 June</p>

                <div class="row">
                    <h5> Comments </h5>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save
            changes</button>
    </div>
</div>