<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>OutSource</title>

	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/css/mdb.min.css" rel="stylesheet">
	<link type="text/css" href="/css/fontawesome.min.css" rel="stylesheet">
</head>

<body>
	{{>_navbar}}

	<main>
		{{{ body }}}
	</main>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/mdb.min.js"></script>
</body>
</html>