{{#extend "hero"}}
<section class="home-hero">
    <div id="carousel" class="carousel slide carousel-fade z-depth-3" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <video class="video-fluid" autoplay loop muted>
                        <source src="/vid/home_carousel/forest.mp4" type="video/mp4" />
                    </video>
                </div>

                <div class="carousel-caption d-flex align-items-center">
                    <div class="animated fadeInDown mask rgba-black-light rounded z-depth-1 p-4 w-100">
                        <h1 class="h1-responsive mb-0 mb-md-2">Welcome to OutSource</h1>
                        <p class="d-none d-md-block">
                            A platform for freelancers to offer services to clients worldwide.
                        </p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="view">
                    <video class="video-fluid" autoplay loop muted>
                        <source src="/vid/home_carousel/photography.mp4" type="video/mp4" />
                    </video>
                    <div class="mask rgba-deep-purple-light"></div>
                </div>

                <div class="carousel-caption d-flex align-items-center">
                    <div class="animated fadeInDown mask rgba-black-light rounded z-depth-1 p-4  w-100">
                        <h1 class="h1-responsive">Looking for Services?</h1>
                        <p class="d-none d-md-block">
                            Are you looking to hire someone for their services, look no further.<br />
                            OutSource provides you a platform where freelancers offer a wide range of services.
                        </p>

                        <a class="btn btn-md primary-gradient" href="/services">
                            <i class="far fa-eye"></i> View Marketplace
                        </a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="view">
                    <video class="video-fluid" autoplay loop muted>
                        <source src="/vid/home_carousel/typing.mp4" type="video/mp4" />
                    </video>
                    <div class="mask rgba-deep-purple-light"></div>
                </div>

                <div class="carousel-caption d-flex align-items-center">
                    <div class="animated fadeInDown mask rgba-black-light rounded z-depth-1 p-4  w-100">
                        <h1 class="h1-responsive">Register on OutSource</h1>
                        <p class="d-none d-md-block">
                            Register an account with us today as a service provider or as a client.<br />
                        </p>

                        <a class="btn btn-md primary-gradient" href="/register">
                            <i class="far fa-user-plus"></i> Register
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <i class="fas fa-chevron-left fa-lg"></i>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right fa-lg"></i>
        </a>
    </div>
</section>
{{/extend}}

<section class="home">
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    
    <a href="#">Link</a>

    <a class="btn-floating btn-lg btn-default"><i class="fas fa-bolt"></i></a>
    <a class="btn-floating btn-primary"><i class="fas fa-leaf"></i></a>
    <a class="btn-floating btn-sm btn-secondary"><i class="fas fa-star"></i></a>

    <!-- Material switch -->
    <div class="switch">
    <label>
        Off
        <input type="checkbox">
        <span class="lever"></span> On
    </label>
    </div>

    <!-- Default switch -->
    <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">Toggle this switch element</label>
    </div>
</section>