/* Joel */
/* Navbar */
nav.navbar .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/normal.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

nav.navbar.top-nav-collapse .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/darker.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

nav.navbar .dropdown-menu .dropdown-item i {
    min-width: 20px;
}

nav.navbar .dropdown-menu .dropdown-item.text-danger:hover {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}

/* to-top-action Button */
#to-top-action {
    right: 0;
    bottom: 5px;
    transition: bottom 0.5s ease-out;
}

/* FileInput.js style */
.files-upload,
.file-upload {
    min-height: 500px;
}

.files-upload > input[type="file"],
.file-upload > input[type="file"] {
    display: none;
}

.files-upload > .wrapper,
.file-upload > .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

.files-upload > .wrapper > .card-text,
.file-upload > .wrapper > .card-text {
    color: #ffffff;
    position: relative;
    top: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.files-upload > .wrapper > .preview,
.file-upload > .wrapper > .preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 3px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.files-upload > .wrapper > button.remove,
.file-upload > .wrapper > button.remove {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.files-upload > .wrapper.has-preview > button.remove,
.file-upload > .wrapper.has-preview > button.remove {
    display: block;
}

.files-upload > .wrapper:hover > button.remove,
.file-upload > .wrapper:hover > button.remove {
    opacity: 1;
}

.files-upload > .wrapper > .preview > .renderer > img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: border-color .15s linear;
    -o-transition: border-color .15s linear;
    transition: border-color .15s linear;
    -o-object-fit: cover;
    object-fit: cover;
}

.files-upload > .wrapper > .preview > .renderer > i {
    font-size: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff;
}

.files-upload > .wrapper > .preview > .renderer > i > span.extension {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.03em;
    font-size: 1rem;
    color: #651fff;
    width: 42px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.files-upload > .wrapper > .preview > .infos,
.file-upload > .wrapper > .preview > .infos {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.files-upload > .wrapper:hover > .preview > .infos,
.file-upload > .wrapper:hover > .preview > .infos {
    opacity: 1;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner,
.file-upload > .wrapper > .preview > .infos > .infos-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    transform: translate(0, -40%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.files-upload > .wrapper:hover > .preview > .infos > .infos-inner,
.file-upload > .wrapper:hover > .preview > .infos > .infos-inner {
    margin-top: -5px;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner > p,
.file-upload > .wrapper > .preview > .infos > .infos-inner > p {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner > p.message,
.file-upload > .wrapper > .preview > .infos > .infos-inner > p.message {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 12px;
    position: relative;
    opacity: .5;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner > p.message::before,
.file-upload > .wrapper > .preview > .infos > .infos-inner > p.message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    width: 30px;
    height: 2px;
}

/* Froala Editor */
/* .fr-toolbar,
.fr-toolbar .fr-newline {
    background: #651fff;
}

.fr-toolbar .fr-more-toolbar {
    background: #b388ff;
}

.fr-toolbar .fr-command.fr-btn.fr-open:not(:hover):not(:focus):not(:active) {
    background: #b388ff;
}

.fr-toolbar.fr-top,
.fr-box.fr-basic .fr-wrapper,
.second-toolbar {
    border-color: #651fff;
}

.fr-toolbar .fr-command.fr-btn i,
.fr-toolbar .fr-command.fr-btn svg path,
.fr-popup .fr-command.fr-btn svg path,
.fr-modal .fr-command.fr-btn svg path {
    color: #ffffff;
    fill: #ffffff;
}

.fr-desktop .fr-command:hover:not(.fr-table-cell),
.fr-desktop .fr-command:focus:not(.fr-table-cell),
.fr-desktop .fr-command.fr-btn-hover:not(.fr-table-cell),
.fr-desktop .fr-command.fr-expanded:not(.fr-table-cell) {
    background: #b388ff;
}

.fr-toolbar .fr-btn-grp .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-toolbar .fr-more-toolbar .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-toolbar .fr-buttons:not(.fr-tabs) .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-popup .fr-btn-grp .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-popup .fr-more-toolbar .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-popup .fr-buttons:not(.fr-tabs) .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-modal .fr-btn-grp .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-modal .fr-more-toolbar .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path,
.fr-modal .fr-buttons:not(.fr-tabs) .fr-command.fr-btn.fr-active:not(.fr-dropdown) svg path {
    fill: #009688;
}

.fr-wrapper::after {
    display: none;
} */

/* CodeMirror */
.CodeMirror {
    height: auto;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.CodeMirror-linenumber {
   padding-right: 1rem !important;
}

/* Tui-Image-Editor */
.tui-image-editor-header-logo,
.tui-image-editor-header-buttons {
    display: none;
}

@media (max-width: 768px) {
    .tui-image-editor-controls {
        display: flex !important;
        overflow-x: auto !important;
    }

    .tui-image-editor-submenu {
        background-color: #1e1e1e !important;
        display: flex !important;
        overflow-x: auto !important;
        height: auto !important;
        padding-bottom: 1rem !important;
    }

    .tui-image-editor-menu {
        padding-bottom: .6rem !important;
    }

    .tui-image-editor-controls {
        height: auto !important;
    }

    .tui-image-editor-submenu-style {
        padding-bottom: unset !important;
    }

    .tui-image-editor-menu-filter,
    .tui-image-editor-menu-mask,
    .tui-image-editor-menu-text,
    .tui-image-editor-menu-icon,
    .tui-image-editor-menu-shape,
    .tui-image-editor-menu-draw,
    .tui-image-editor-menu-rotate,
    .tui-image-editor-menu-flip,
    .tui-image-editor-menu-crop {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        padding-bottom: unset !important;
    }
}

/* Home */
section.home-hero .carousel-caption {
    bottom: 0;
    height: 100%;
}

/* Files, File-Preview & File-Edit */
section.files .breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
}

section.files #action-card .list-group-item i,
section.file-preview #action-card .list-group-item i,
section.file-edit #action-card .list-group-item i {
    min-width: 20px;
}

section.files #action-search .dropdown-toggle::after {
    content: unset;
}

section.files .dataTables_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

section.files .dataTables_wrapper .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

section.files .dataTables_empty {
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

section.files #files-table td[headers="modified"]::first-letter {
    text-transform: capitalize;
}

section.files #folders-card .treeview-animated-list {
    padding-left: unset;
}

section.files #folders-card .treeview-animated-list > li {
    padding-left: 1em;
}

section.files .breadcrumb a:hover {
    color: #ffffff;
}

section.files #action-card .list-group-item.delete-action:hover,
section.file-preview #action-card .list-group-item.close-preview:hover,
section.file-edit #action-card .list-group-item.close-edit:hover,
#mobile-action .dropdown-item.close-preview:active,
#mobile-action .dropdown-item.close-preview:hover,
#mobile-action .dropdown-item.close-edit:active,
#mobile-action .dropdown-item.close-edit:hover,
#mobile-action .dropdown-item.delete-action:active,
#mobile-action .dropdown-item.delete-action:hover {
    background-color: #dc3545;
}

section.file-edit #action-card .list-group-item.save:hover,
#mobile-action .dropdown-item.save:active,
#mobile-action .dropdown-item.save:hover {
    background-color: #009688;
}

section.file-preview #content > #rtf,
section.file-preview #content > #docx {
    background-color: #f5f5f5;
}

section.file-preview #content iframe {
    border: none;
}

section.file-preview #content > #docx img {
    max-width: 100%;
    height: auto;
}

section.file-preview #content img.img-preview {
    -webkit-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

@media (max-width: 767px) {
    section.files .dataTables_wrapper th#name {
        border-top-right-radius: .25rem !important;
    }

    section.files #files-table tbody tr:last-child td[headers="name"] {
        border-bottom-right-radius: .25rem !important;
    }
}

@media (min-width: 767px) {
    section.files #folders-card,
    section.files #action-card,
    section.file-preview #action-card {
        position: sticky;
        top: 7rem;
    }
}

#mobile-search button[data-toggle="dropdown"]::after {
    content: unset;
}

/* Mobile FAB */
#mobile-action {
    bottom: 5px;
    transition: bottom 0.5s ease-out;
}

#mobile-action .dropdown-item i {
    min-width: 18px;
}

/* Lemuel */
@media (min-width: 992px) {
    .profile-margin{
        margin-top: -100px;
    }
}

.profile .avatar {
    z-index: 1020;
}

.profile .card .avatar {
    display: block;
    margin-top: -8%;
    overflow: hidden;
    width: 120px
}

.profile .card .profpic {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.profile .jarallax {
    min-height: 300px
}

.profile .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.profile .classic-tabs .nav li a,
.submit-projects .classic-tabs .nav li a,
.view-notification .classic-tabs .nav li a{
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(92, 92, 92, 0.7);
    text-align: center;
    border-radius: 0;
    font-weight: 500;
}

.profile .classic-tabs .nav li a:not(.active),
.submit-projects .classic-tabs .nav li a:not(.active),
.view-notification .classic-tabs .nav li a:not(.active) {
    margin-bottom: 3px
}

.profile .classic-tabs .nav li a.active,
.submit-projects .classic-tabs .nav li a.active,
.view-notification .classic-tabs .nav li a.active {
    border-bottom: 3px solid;
    color: #000;
}

.profile .service-img {
    width: 300px;
    height: auto;
}

.profile .sellerav{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.profile .seller{
    padding: 5px;
}

.profile .skill-button {
    padding: .4rem 1.5rem;
}

.profile .portoflio-img-sm {
    /* width: 32%; */
    height: 30vh;
}

.profile .portoflio-img {
    width: 49%;
    height: 40vh;
}

.profile .portoflio-img-lg {
    width: 99%;
    height: 80vh;
}

#socialmedias {
    background-color: rgba(0, 0, 0, .7);
}

.profile .close {
    opacity: 1;
}

.profile-modal .modal-dialog-project {
    max-width: 90vw;
}

/* Submit Projects */


section.submit-projects .files-upload,
section.submit-projects .file-upload {
    min-height: 100px;
}

section.submit-projects .files-upload > .wrapper, 
section.submit-projects .file-upload > .wrapper{
    min-height: 200px;
    min-width: 400px;
}

section.submit-projects .files-upload>.wrapper>.card-text, 
section.submit-projects .file-upload>.wrapper>.card-text {
    color: #ffffff;
    position: relative;
    top: 60px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section.submit-projects .file-upload > .wrapper > .preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

[id^="confirmDelete"]{
    z-index: 1070;
}

/* Edit Profile */

.modal-dialog-banner {
    max-width: 90vw;
}

.files-upload-circle,
.file-upload-circle {
    /* min-height: 0px; */
    /* height:100%; */
    width:100%;
    
}

.edit-profile .jarallax {
    min-height: 300px
}

.edit-profile .testimonial-card .avatar > img {
    width: 100%;
    /* height: 100%; */
    /* clip: rect(0px,0px,200px,0px); */

    /* width: 120px;
    height: 120px; */
    /* border: 1px solid red; */
    overflow: hidden;
}

.object-fit-img{
    object-fit: cover;
}


/* Stuff */


[id^="confirmDelete"]{
    z-index: 1070;
}

/* Borders */

body.modal-open {
    overflow: hidden !important;
}

/* Joshua */
.services .row {
    margin: 0 -5px;
}

.services .row:after {
    content: "";
    display: table;
    clear: both;
}

.services .card .avatar {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.services .seller {
    padding: 5px;
}

.viewservice .service-overview .card .card-img-top {
    max-height: 20rem;
}

/* Benedict */
.register #confirmPW {
    display: none;
}

.register .tab-content {
    max-width: 766px;
    margin: 0 auto;
    opacity: 0.93;
}

.register .nav {
    max-width: 766px;
}

.register .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.register #myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .register #myVideo {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .register #myVideo {
        width: 300%;
        left: -100%;
    }
}
