nav.navbar .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/normal.png");
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center;
}

nav.navbar.top-nav-collapse .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/darker.png");
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center;
}

/* Home */
section.home .carousel-caption {
    height: 100%;
}

@media (min-width: 768px) {
    .files input[name=search] {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .files input[name=search] + .input-group-append > .btn {
        margin: 0;
        height: 100%;
    }
}

/* Benedict */

/* Lemuel */

.profile-content{
    padding: 0 5vw;
    min-height: 100vh;
}