/* Navbar */

nav.navbar .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/normal.png");
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center;
}

nav.navbar.top-nav-collapse .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/darker.png");
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center;
}

/* Navbar Dropdown-Menu */

nav.navbar .dropdown-menu a {
    font-size: 1rem;
    line-height: 2;
    vertical-align: middle;
}

nav.navbar .dropdown-menu .btn-floating, #loginModel .flex-fill .btn-floating {
    border: 0;
}

nav.navbar .dropdown-menu .btn-floating i, #loginModel .flex-fill .btn-floating i {
    padding: 0px !important;
}

/* toTopAction Button */

div#toTopAction {
    right: 5px;
    bottom: 40px;
}

/* Files-Upload-Wrapper & File-Upload-Wrapper */

.files-upload, .file-upload {
    min-height: 500px;
}

.files-upload>input[type="file"], .file-upload>input[type="file"] {
    display: none;
}

.files-upload>.wrapper, .file-upload>.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

.files-upload>.wrapper>.card-text, .file-upload>.wrapper>.card-text {
    color: #ffffff;
    position: relative;
    top: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.files-upload>.wrapper>.preview, .file-upload>.wrapper>.preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.files-upload>.wrapper>button.remove, .file-upload>.wrapper>button.remove {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.files-upload>.wrapper.has-preview>button.remove, .file-upload>.wrapper.has-preview>button.remove {
    display: block;
}

.files-upload>.wrapper:hover>button.remove, .file-upload>.wrapper:hover>button.remove {
    opacity: 1;
}

.files-upload>.wrapper>.preview>.renderer>img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: border-color .15s linear;
    -o-transition: border-color .15s linear;
    transition: border-color .15s linear;
    -o-object-fit: cover;
    object-fit: cover;
}

.files-upload>.wrapper>.preview>.renderer>i {
    font-size: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    color: #777;
}

.files-upload>.wrapper>.preview>.renderer>i>span.extension {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.03em;
    font-size: 1rem;
    color: #fff;
    width: 42px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.files-upload>.wrapper>.preview>.infos, .file-upload>.wrapper>.preview>.infos {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.files-upload>.wrapper:hover>.preview>.infos, .file-upload>.wrapper:hover>.preview>.infos {
    opacity: 1;
}

.files-upload>.wrapper>.preview>.infos>.infos-inner, .file-upload>.wrapper>.preview>.infos>.infos-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    transform: translate(0, -40%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.files-upload>.wrapper:hover>.preview>.infos>.infos-inner, .file-upload>.wrapper:hover>.preview>.infos>.infos-inner {
    margin-top: -5px;
}

.files-upload>.wrapper>.preview>.infos>.infos-inner>p, .file-upload>.wrapper>.preview>.infos>.infos-inner>p {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}

.files-upload>.wrapper>.preview>.infos>.infos-inner>p.message, .file-upload>.wrapper>.preview>.infos>.infos-inner>p.message {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 12px;
    position: relative;
    opacity: .5;
}

.files-upload>.wrapper>.preview>.infos>.infos-inner>p.message::before, .file-upload>.wrapper>.preview>.infos>.infos-inner>p.message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    width: 30px;
    height: 2px;
}

/* Home */

section.home .carousel-caption {
    height: 100%;
}

/* Files */

section.files .action-card .list-group-item:hover {
    color: #ffffff;
    background-color: #ac85f0;
}

section.files .action-card .list-group-item:active {
    color: #ffffff;
    background-color: #6e2ae5;
}

section.files .action-card .list-group-item i {
    min-width: 20px;
}

section.files #mobileActions.fixed-bottom {
    right: 5px;
    bottom: 5px;
    z-index: 999;
}

@media (min-width: 768px) {
    .files input[name=search] {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    .files input[name=search]+.input-group-append>.btn {
        margin: 0;
        height: 100%;
    }
}

/* Lemuel */

.profile .avatar {
    z-index: 1020;
}

.profile .card .avatar {
    display: block;
    margin-top: -8%;
    overflow: hidden;
    width: 120px
}

.mt-minus-10vh {
    margin-top: -10vh;
}

.hr-purple {
    border-top: 1px solid #6e2ae5
}

.profile .classic-tabs .nav li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(92, 92, 92, 0.7);
    text-align: center;
    border-radius: 0;
    font-weight: 500;
}

.profile .classic-tabs .nav li a:not(.active) {
    margin-bottom: 3px
}

.profile .classic-tabs .nav li a.active {
    border-bottom: 3px solid;
    color: #000;
}

.profile .jarallax {
    min-height: 300px
}

.profile .service-img {
    width: 300px;
    height: 300px;
}

.profile .skill-button {
    padding: .4rem 1.5rem;
}






/* Joshua */

.services .row {
    margin: 0 -5px;
}

.services .row:after {
    content: "";
    display: table;
    clear: both;
}

.viewservice .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}