/* Navbar */
nav.navbar .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/normal.png");
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center;
}

nav.navbar.top-nav-collapse .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/darker.png");
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: center;
}

/* toTopAction Button */
div#toTopAction {
    right: 5px;
    bottom: 40px;
}

/* Navbar Dropdown-Menu */
nav.navbar .dropdown-menu a {
    font-size: 1rem;
    line-height: 2;
    vertical-align: middle;
}

nav.navbar .dropdown-menu .btn-floating,
#loginModel .flex-fill .btn-floating {
    border: 0;
}

nav.navbar .dropdown-menu .btn-floating i,
#loginModel .flex-fill .btn-floating i {
    padding: 0px !important;
}

/* Home */
section.home .carousel-caption {
    height: 100%;
}

/* Files */
section.files .action-card .list-group-item:hover {
    color: #ffffff;
    background-color: #ac85f0;
}

section.files .action-card .list-group-item:active {
    color: #ffffff;
    background-color: #6e2ae5;
}

section.files .action-card .list-group-item i {
    min-width: 20px;
}

section.files #mobileActions.fixed-bottom {
    right: 5px;
    bottom: 5px;
    z-index: 999;
}

@media (min-width: 768px) {
    .files input[name=search] {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .files input[name=search] + .input-group-append > .btn {
        margin: 0;
        height: 100%;
    }
}

/* Benedict */