<footer class="page-footer font-small">
    <div class="footer-copyright p-3"> 
        <a href="/">
            <img src="/img/logo/white.png" alt="OutSource">
        </a>
        <p class="m-0">
            &copy; 2019 OutSource
        </p>
    </div>
</footer>