<link rel="stylesheet" href="/css/user/banner.css">


<div class="container-fluid">
    <div class="row justify-content-center" id="userbanner">
        <div class="col-2">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/img/no-image.jpg" alt="" class="img-fluid z-depth-1 rounded-circle img-thumbnail">
            <h1 class="text-center"> John Doe </h1>
            <h3 class="text-center text-muted"> Illustrator </h3>
        </div>
    </div>

{{!-- Database stuff 

User

    ID{PK}

    Username

    Password

    Email
    
    Account Type
        Client
        Service Provider

    Portfolio
        ID{PK}
        Name
        Description
        Text

        File
        Category
        userID{FK}


    Services
        ID{PK}
        Name
        Description
        Price
        ImageURL
        Category
        userID{FK}

    Followers

    Profile Picture

    Profile Banner Picture
       

    Social Medias
        Facebook
        Instagram
        Twitter
        Youtube
        Patreon


    About
        Basic info
            -Nickname
            -Website
            -Birthday
            -Gender
            -Location
            -Occupation

        Skills
            Category 1
                Category 1 skill
            Category 2
                Category 2 skill
            Category 3
                Category 3 skill

        Bio

        Comments

    Profile Services
        Arrangement 1
            List 1 for stuff
                serviceID{FK}
                Name
                Description
                Price
                ImageURL
                Category
            List 2 for stuff
                serviceID{FK}
        Arrangement 2
            List 1 for stuff
                serviceID{FK}
            List 2 for stuff
                serviceID{FK}
        
    Profile Portfolio
        Portfolio
            UserID

        Arangement
            Arrangement 1
                portfolioID{FK}
                Name
                Description
                File
                Category
                userID{FK}
            Arrangement 2
                portfolioID{FK}
                
            Arrangement 3
                portfolioID{FK}

                


--}}

</div>