{{setVar "mainType" "vCenter"}}

<section class="register container">
	<div class="fullscreen-bg">
		<video autoplay muted loop id="myVideo">
			<source src="/vid/register/Beach.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
	</div>
	<ul class="nav nav-tabs md-tabs primary-gradient" id="regTab" role="tablist">
		<li class="nav-item flex-fill text-center">
			<a class="nav-link active" data-toggle="tab" href="#cTab" role="tab">
				Client Registration
			</a>
		</li>
		<li class="nav-item flex-fill text-center">
			<a class="nav-link" data-toggle="tab" href="#spTab" role="tab">
				Service Provider Registration
			</a>
		</li>
	</ul>

	<div class="tab-content card">
		<div class="tab-pane fade show active" id="cTab" role="tabpanel">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<form action="" method="post">
						<div class="form-group">
							<label for="name">Username</label>
							<input type="text" class="form-control" name="username" value="" required>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" class="form-control" value="" required>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control" value="" required>
						</div>
						<div class="form-group">
							<label for="password2">Confirm Password</label>
							<input type="password" name="password2" class="form-control" value="" required>
						</div>
						<button class="btn btn-outline-primary btn-rounded btn-block" type="button">
							<i class="far fa-sign-in-alt"></i> REGISTER
						</button>
						<div class="modal-footer d-block">
							<p class="text-center m-0">
								Have an account? <a href="" data-toggle="modal" data-target="#loginModel">Login Here!</a>
							</p>
						</div>
						<h5 class="modal-title text-left mt-5">SOCIAL LOGIN</h5>
						<hr class="my-2">
						<div class="flex-fill text-center">
							<button class="btn-floating btn-lg btn-fb" type="button">
								<i class="fab fa-facebook-f pr-1"></i> Facebook
							</button>
							<button class="btn-floating btn-lg btn-tw" type="button">
								<i class="fab fa-twitter pr-1"></i> Twitter
							</button>
							<button class="btn-floating btn-lg btn-git" type="button">
								<i class="fab fa-github pr-1"></i> Github
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="spTab" role="tabpanel">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<img class="logo" src="">
					<form action="" method="post">
						<div class="form-group">
							<label for="name">Username</label>
							<input type="text" class="form-control" name="username" value="" required>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" class="form-control" value="" required>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control" value="" required>
						</div>
						<div class="form-group">
							<label for="password2">Confirm Password</label>
							<input type="password" name="password2" class="form-control" value="" required>
						</div>
						<button class="btn btn-outline-primary btn-rounded btn-block" type="button">
							<i class="far fa-sign-in-alt"></i> REGISTER
						</button>
						<div class="modal-footer d-block">
							<p class="text-center m-0">
								Have an account? <a href="#" data-toggle="modal" data-target="#loginModel">Login Here!</a>
							</p>
						</div>
						<h5 class="modal-title text-left mt-5">SOCIAL LOGIN</h5>
						<hr class="my-2">
						<div class="flex-fill text-center">
							<button class="btn-floating btn-lg btn-fb" type="button">
								<i class="fab fa-facebook-f pr-1"></i> Facebook
							</button>
							<button class="btn-floating btn-lg btn-tw" type="button">
								<i class="fab fa-twitter pr-1"></i> Twitter
							</button>
							<button class="btn-floating btn-lg btn-git" type="button">
								<i class="fab fa-github pr-1"></i> Github
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>