<tr>
    <td>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkAll">
            <label class="custom-control-label" for="checkAll"></label>
        </div>
    </td>
    <td contenteditable="true">Something 1</td>
    <td class="d-none d-md-table-cell">Something 1</td>
    <td class="d-none d-md-table-cell">Something 1</td>
    <td class="d-none d-md-table-cell">Something 1</td>
    <td>
        <a class="btn-floating btn-sm btn-cyan material-tooltip-sm" data-tooltip="tooltip" data-placement="top" title="Create Share Link">
            <i class="fas fa-link"></i>
        </a>

        <a class="btn-floating btn-sm btn-primary material-tooltip-sm ml-2" type="button" data-toggle="dropdown" data-tooltip="tooltip" data-placement="top" title="More Action">
            <i class="fas fa-ellipsis-h"></i>
        </a>
        
        <div class="dropdown-menu dropdown-primary">
            <button class="dropdown-item">
                <i class="far fa-download"></i> Download
            </button>
            <button class="dropdown-item">
                <i class="far fa-i-cursor" style="margin: 0 4px;"></i> Rename
            </button>
            <button class="dropdown-item">
                <i class="fas fa-exchange-alt"></i> Move
            </button>
            <button class="dropdown-item">
                <i class="far fa-copy"></i> Copy
            </button>
            <button class="dropdown-item">
                <i class="far fa-trash-alt"></i> Delete
            </button>
        </div>
    </td>
</tr>