<nav class="navbar navbar-expand-md navbar-dark z-depth-3{{#ifCond 'url == "/"'}} home{{/ifCond}} fixed-top scrolling-navbar"
	style="padding-left: 12px 1rem !important;">
	<a class="navbar-brand" href="/"></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
		<i class="fas fa-bars"></i>
	</button>

	<div id="nav" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{{#ifCond 'url === "/"'}} active{{/ifCond}}">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item{{#ifCond 'url === "/services"'}} active{{/ifCond}}">
				<a class="nav-link" href="/services">Marketplace</a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
			{{#if user}}
			<!-- Desktop -->
			<li class="nav-item mx-3 auto row p-0">
				<a href="/profile/notifications" class="text-white align-self-center col p-0">
					<i class="fas fa-bell fa"></i>
				</a>
			</li>
			<li class="nav-item dropdown d-none d-md-block">
				<a class="nav-link chip primary-reverse-light-gradient dropdown-toggle m-0 z-depth-1-half"
					data-toggle="dropdown">
					{{#ifFile (concat './public/uploads/profile/' user.id '/profilePic.png') }}
					<img class="deep-purple lighten-5 z-depth-1-half" src="/uploads/profile/{{user.id}}/profilePic.png">
					{{else}}
					<i class="fas fa-user animated faster"></i>
					{{/ifFile}} {{user.username}}
				</a>

				<div class="dropdown-menu dropdown-primary dropdown-menu-right mt-1">
					<a class="dropdown-item" href="/profile">
						<i class="far fa-id-card mr-1"></i> My Profile
					</a>
					<a class="dropdown-item" href="/files/my-drive">
						<i class="far fa-folders mr-1"></i> Files Management
					</a>
					<a class="dropdown-item" href="/services/manage">
						<i class="far fa-user-tie mr-1"></i> Services Management
					</a>
					<a class="dropdown-item" href="/job">
						<i class="far fa-briefcase mr-1"></i> Jobs Management
					</a>
					<a class="dropdown-item" href="/services/receipt">
						<i class="far fa-file-invoice-dollar mr-1"></i> Transaction Histories
					</a>
					<hr class="mt-0 mb-3">
					<a class="dropdown-item text-danger" href="/logout">
						<i class="far fa-power-off mr-1"></i> Sign Out
					</a>
				</div>
			</li>

			<!-- Mobile -->
			<li class="nav-item d-block d-md-none{{#ifStringContain url '/profile'}} active{{/ifStringContain}}">
				<hr class="hr-light my-2">
				<a class="nav-link" href="/profile">
					<i class="far fa-id-card mr-1"></i> My Profile
				</a>
			</li>
			<li class="nav-item d-block d-md-none{{#ifStringContain url '/files'}} active{{/ifStringContain}}">
				<a class="nav-link" href="/files">
					<i class="far fa-folders mr-1"></i> Files Management
				</a>
			</li>
			<li
				class="nav-item d-block d-md-none{{#ifStringContain url '/services/manage'}} active{{/ifStringContain}}">
				<a class="nav-link" href="/services/manage">
					<i class="far fa-user-tie mr-1"></i> Services Management
				</a>
			</li>
			<li class="nav-item d-block d-md-none{{#ifStringContain url '/jos'}} active{{/ifStringContain}}">
				<a class="nav-link" href="/jobs">
					<i class="far fa-briefcase mr-1"></i> Jobs Management
				</a>
			</li>
			<li
				class="nav-item d-block d-md-none{{#ifStringContain url '/services/receipt'}} active{{/ifStringContain}}">
				<a class="nav-link" href="/services/receipt">
					<i class="far fa-file-invoice-dollar mr-1"></i> Transaction Histories
				</a>
			</li>

			<hr class="hr-light w-100 mt-2 mb-3 d-block d-md-none">

			<li class="nav-item d-block d-md-none">
				<a class="btn btn-md btn-danger btn-block" href="/logout">
					<i class="far fa-power-off mr-1"></i> Sign Out
				</a>
			</li>
			{{else}}
			<li class="nav-item">
				<hr class="hr-light d-md-none mt-3 mb-4">
				<a class="btn btn-md btn-block dusty-grass-gradient black-text" href="/register">
					<i class="far fa-user-plus mr-1"></i> Join
				</a>
			</li>
			<!-- Mobile Login -->
			<li class="nav-item d-md-none my-2">
				<button class="btn btn-md btn-block primary-gradient" data-toggle="modal" data-target="#loginModel">
					<i class="far fa-sign-in-alt mr-1"></i> Sign In
				</button>
			</li>
			<!-- Desktop Login -->
			<li class="nav-item dropdown">
				<button class="btn btn-md primary-gradient d-none d-md-block m-0 ml-3" href="#" role="button"
					data-toggle="dropdown">
					<i class="far fa-sign-in-alt mr-1"></i> Sign In
				</button>

				<div class="dropdown-menu dropdown-menu-right text-right px-4 pt-4 pb-2">
					<h6 class="text-left">SIGN IN</h6>
					<div class="dropdown-divider mb-4"></div>

					<form action="/login" method="post">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text primary-light-gradient white-text align-middle">
									<i class="far fa-envelope"></i>
								</span>
							</div>
							<div class="md-form md-outline">
								<input id="dd-login-email" class="form-control" type="email" name="email" />
								<label for="dd-login-email">Email</label>
							</div>
						</div>

						<div class="input-group mb-0">
							<div class="input-group-prepend">
								<span class="input-group-text primary-light-gradient white-text align-middle">
									<i class="far fa-lock-alt"></i>
								</span>
							</div>
							<div class="md-form md-outline">
								<input id="dd-login-pass" class="form-control" type="password" name="password" />
								<label for="dd-login-pass">Password</label>
							</div>
						</div>

						<a class="pt-0" href="/forgot">
							<small>Forgot Password?</small>
						</a>

						<button class="btn btn-md btn-outline-primary btn-rounded btn-block" type="submit">
							<i class="far fa-sign-in-alt"></i> Sign In
						</button>
					</form>

					<h6 class="text-left mt-5">SOCIAL SIGN IN</h6>
					<div class="dropdown-divider"></div>

					<div class="flex-fill text-center">
						<button class="btn-floating btn-md btn-fb" type="button">
							<i class="fab fa-facebook-f"></i> Facebook
						</button>
						<button class="btn-floating btn-md btn-tw" type="button">
							<i class="fab fa-twitter"></i> Twitter
						</button>
						<button class="btn-floating btn-md btn-git" type="button">
							<i class="fab fa-github"></i> Github
						</button>
					</div>

					<div class="dropdown-divider"></div>

					<p class="text-left small mb-0">
						Not a member yet? <a class="p-0 d-inline" href="/register">Join now</a>
					</p>
				</div>
			</li>
			{{/if}}
		</ul>
	</div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModel" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<form action="/login" method="post">
				<div class="modal-header deep-purple accent-2 white-text">
					<h5 class="modal-title">
						<i class="far fa-sign-in-alt mr-1"></i> SIGN IN
					</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span class="white-text">&times;</span>
					</button>
				</div>

				<div class="modal-body text-right">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text primary-light-gradient white-text align-middle">
								<i class="far fa-envelope"></i>
							</span>
						</div>
						<div class="md-form md-outline">
							<input id="login-modal-email" class="form-control" type="email" name="email" />
							<label for="login-modal-email">Email</label>
						</div>
					</div>

					<div class="input-group mb-0">
						<div class="input-group-prepend">
							<span class="input-group-text primary-light-gradient white-text align-middle">
								<i class="far fa-lock-alt"></i>
							</span>
						</div>
						<div class="md-form md-outline">
							<input id="login-modal-pass" class="form-control" type="password" name="password" />
							<label for="login-modal-pass">Password</label>
						</div>
					</div>

					<a class="deep-purple-text pt-0" href="/forgot">
						<small>Forgot Password?</small>
					</a>

					<button class="btn btn-md btn-outline-primary btn-rounded btn-block mt-4" type="submit">
						<i class="far fa-sign-in-alt"></i> Sign In
					</button>

					<h5 class="modal-title text-left mt-5">SOCIAL SIGN IN</h5>

					<hr class="my-2">

					<div class="flex-fill text-center">
						<button class="btn-floating btn-md btn-fb" type="button">
							<i class="fab fa-facebook-f"></i> Facebook
						</button>
						<button class="btn-floating btn-md btn-tw" type="button">
							<i class="fab fa-twitter"></i> Twitter
						</button>
						<button class="btn-floating btn-md btn-git" type="button">
							<i class="fab fa-github"></i> Github
						</button>
					</div>
				</div>

				<div class="modal-footer d-block">
					<p class="text-center small m-0">
						Don't have an account? <a href="/register">Join now</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>