<nav class="navbar navbar-expand-lg navbar-dark z-depth-2 {{#ifCond 'url == "/"'}}home {{/ifCond}}fixed-top scrolling-navbar">
	<a class="navbar-brand" href="/"></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
		<i class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{{#ifCond 'url == "/"'}} active{{/ifCond}}">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">About</a>
			</li>
			<li class="nav-item{{#ifCond 'url == "/services"'}} active{{/ifCond}}">
				<a class="nav-link" href="/services/">Marketplace</a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
			<a class="btn btn-sm dusty-grass-gradient black-text" href="/register">
				<i class="far fa-user-plus"></i> Register
			</a>

			<!-- Mobile Login -->
			<a class="btn btn-sm primary-gradient flex-fill d-lg-none" data-toggle="modal" data-target="#loginModel">
				<i class="far fa-sign-in-alt"></i> Login
			</a>

			<!-- Desktop Login -->
			<div class="dropdown d-none d-lg-block">
				<a class="btn btn-sm primary-gradient dropdown-toggle" href="#" role="button" data-toggle="dropdown">
					<i class="far fa-sign-in-alt"></i> Login
				</a>

				<div class="dropdown-menu dropdown-menu-right text-right z-depth-1 px-4 pt-4 pb-2">
					<h6 class="text-left">LOGIN</h6>
					<div class="dropdown-divider mb-4"></div>

					<form method="post">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text primary-gradient white-text align-middle">
									<i class="far fa-envelope"></i>
								</span>
							</div>
							<input class="form-control" type="email" placeholder="Email" name="email" />
						</div>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text primary-gradient white-text align-middle">
									<i class="far fa-lock"></i>
								</span>
							</div>
							<input class="form-control" type="password" placeholder="Password" name="password" />
						</div>
						
						<a class="deep-purple-text pt-0" href="#">
							<small>Forgot Password?</small>
						</a>

						<button class="btn btn-outline-primary btn-rounded btn-block" type="button">
							<i class="far fa-sign-in-alt"></i> Login
						</button>
					</form>

					<h6 class="text-left mt-5">SOCIAL LOGIN</h6>
					<div class="dropdown-divider"></div>

					<div class="flex-fill text-center">
						<button class="btn-floating btn-lg btn-fb" type="button">
							<i class="fab fa-facebook-f"></i> Facebook
						</button>
						<button class="btn-floating btn-lg btn-tw" type="button">
							<i class="fab fa-twitter"></i> Twitter
						</button>
						<button class="btn-floating btn-lg btn-git" type="button">
							<i class="fab fa-github"></i> Github
						</button>
					</div>

					<div class="dropdown-divider mt-5"></div>

					<p class="text-left mb-0">
						Don't have an account? <a class="deep-purple-text p-0" href="#" style="font-size: 1rem;">Register Now!</a>
					</p>
				</div>
			</div>
		</ul>
	</div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModel" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header deep-purple accent-2 white-text">
					<h5 class="modal-title">
						<i class="far fa-sign-in-alt mr-1"></i> LOGIN
					</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span class="white-text">&times;</span>
					</button>
				</div>

				<div class="modal-body text-right">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text align-middle">
								<i class="far fa-envelope"></i>
							</span>
						</div>
						<input class="form-control" type="email" placeholder="Email" name="email" />
					</div>

					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text align-middle">
								<i class="far fa-lock"></i>
							</span>
						</div>
						<input class="form-control" type="password" placeholder="Password" name="password" />
					</div>

					<a class="deep-purple-text pt-0" href="#">
						<small>Forgot Password?</small>
					</a>

					<button class="btn btn-outline-primary btn-rounded btn-block mt-4" type="button">
						<i class="far fa-sign-in-alt"></i> Login
					</button>

					<h5 class="modal-title text-left mt-5">SOCIAL LOGIN</h5>

					<hr class="my-2">

					<div class="flex-fill text-center">
						<button class="btn-floating btn-lg btn-fb" type="button">
							<i class="fab fa-facebook-f"></i> Facebook
						</button>
						<button class="btn-floating btn-lg btn-tw" type="button">
							<i class="fab fa-twitter"></i> Twitter
						</button>
						<button class="btn-floating btn-lg btn-git" type="button">
							<i class="fab fa-github"></i> Github
						</button>
					</div>
				</div>
				
				<div class="modal-footer d-block">
					<p class="text-center m-0">
						Don't have an account? <a href="#">Register Now!</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>