<section class="home">
    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Job ID</th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">Category</th>
                <th class="th-sm">Salary</th>
                <th class="th-sm"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
                <td>hello</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</section>
{{#extend 'scripts'}}
<script src="/js/vendor/mdb/modules/datatables.min.js"></script>
<script src="/js/job.js"></script>
{{/extend}}