// _custom-styles by Joel
body {
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    // 100 vh - margin-top - margin-bottom
    min-height: calc(100vh - (74.203px + 3rem + 1.5rem));
}

// navbar
nav.navbar {
    background: -webkit-linear-gradient(50deg, #c4a4fd, #8b5bf6)!important;
    background: -o-linear-gradient(50deg, #b39ddb, #8b5bf6)!important;
    background: linear-gradient(40deg, #b39ddb, #8b5bf6)!important;
}

nav.navbar:not(.top-nav-collapse) {
    background: desaturate(lighten(map-get($basic, "primary"), 5%), 10%) !important;
    transition: padding 0.5s ease-in-out;
}

nav.navbar.home:not(.top-nav-collapse) {
    background: rgba(map-get($basic, "primary"), .35) !important;
}

@media (max-width: 767px) and (min-width: 400px),
(max-width: 850px) and (min-width: 800px) {
    nav.navbar.fixed-top .navbar-collapse {
        max-height: 360px;
    }

    nav.navbar.home:not(.top-nav-collapse) {
        background: rgba(map-get($basic, "primary"), .6) !important;
    }
}

.navbar .dropdown-menu a:not(.dropdown-item) {
    color: #6200ea;
    &:hover {
        color: lighten(#6200ea, 15%);
    }
}

// headers text
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

// GLOBAL
// links
a,
a:not([href]):not([tabindex]).link {
    cursor: pointer;
    text-decoration: none;
    color: #6200ea;
    font-weight: 400;
    &:hover {
        color: lighten(#6200ea, 15%);
    }
    &.disabled,
    &:disabled {
        &:hover {
            color: #6200ea;
        }
    }
}

// BUTTONS
.btn {
    box-shadow: $z-depth-1-half;
    &:hover,
    &:active,
    &:focus {
        box-shadow: $z-depth-2;
    }

    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active {
        box-shadow: $z-depth-2;
    }

    &.disabled,
    &:disabled {
        &:active,
        &:focus,
        &:hover {
            box-shadow: $z-depth-1-half;
        }
    }
}

.btn-floating {
    border: none;
}

// CARDS-BASIC
.card .list-group-item:hover {
    color: #ffffff;
    background-color: map-get($basic, "primary");
}

// DATATABLES
.sorting:before,
.sorting_asc:before, .sorting_desc:before,
.sorting_asc_disabled:before, .sorting_desc_disabled:before,
.sorting:after,
.sorting_asc:after, .sorting_desc:after,
.sorting_asc_disabled:after, .sorting_desc_disabled:after {
    font-family: 'Font Awesome 5 Pro' !important;
}

// DEFAULT-DATE
.picker__box {
    .picker__date-display {
        .picker__nav--prev,
        .picker__nav--next {
            &::before {
                font-family: "Font Awesome 5 Pro" !important;
            }
        }
    }
}

// DROPDOWNS
.dropdown,
.dropup,
.dropleft,
.dropright {
    .dropdown-menu {
        @each $name, $colors in $dropdown-colors {
            &.dropdown-#{$name} {
                .dropdown-item {
                    &:hover,
                    &:active,
                    &.active {
                        box-shadow: $z-depth-2;
                    }
                }
            }
        }
    }
}

// FORMS
.md-form {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search-md],
    input[type=search],
    textarea.md-textarea {
        &:focus:not([readonly]) {
            box-shadow: inset 0 1px 0 0 #6200ea !important;
            border-bottom: 1px solid #6200ea !important;

            + label {
                color: #6200ea !important;
            }
        }
    }

    &.md-outline {
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=time],
        input[type=date],
        input[type=datetime-local],
        input[type=tel],
        input[type=number],
        input[type=search-md],
        input[type=search],
        textarea.md-textarea {
            &:focus:not([readonly]) {
                border-color: #6200ea !important;
                box-shadow: inset 0px 0px 0px 1px #6200ea !important;
                
                + label,
                ~ label.active {
                    color: #6200ea !important;
                }
            }
        }
    }
}

// FOOTERS
footer {
    &.page-footer {
        box-shadow: 0 -5px 11px 0 rgba(92, 141, 255, 0.18), 0 -4px 15px 0 rgba(23, 35, 64, 0.15);
        background-color: desaturate(darken(map-get($material-colors, "primary-color"), 25%), 90%);
    }
}

// INPUT-GROUP
.input-group {
    margin-bottom: 1.875rem;

    > .md-outline {
        margin: 0;
        flex: 1 1 auto;
        width: 1%;

        > .form-control {
            margin: 0;
        }

        > .form-text {
            position: fixed;
        }
    
        > .invalid-feedback {
            width: calc(100vw - (1rem * 2 + .5rem * 2));
            position: fixed;
        }

        > .is-invalid {
            border-color: map-get($material-colors, "danger-color") !important;
            box-shadow: inset 0px 0px 0px 1px map-get($material-colors, "danger-color") !important;

            + label.active {
                color: map-get($material-colors, "danger-color");
            }
        }
    }

    > .md-outline:not(:last-child),
    > .md-outline:first-child {
        > .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    > .md-outline:not(:first-child),
    > .md-outline:last-child {
        > .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    > .input-group-prepend,
    > .input-group-append:not(:last-child),
    > .input-group-append:last-child {
        > .md-outline:not(:last-child),
        > .md-outline:last-child {
            > .form-control {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    > .input-group-append,
    > .input-group-prepend:not(:first-child),
    > .input-group-prepend:first-child {
        > .md-outline:not(:first-child),
        > .md-outline:first-child {
            > .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    > .input-group-prepend,
    > .input-group-prepend:not(:last-child) {
        > .btn,
        > .input-group-text {
            border-top-right-radius: .25rem !important;
            border-bottom-right-radius: .25rem !important;
        }
    }

    > .input-group-prepend:last-child {
        > .btn:not(:last-child),
        > .input-group-text:not(:last-child) {
            border-top-right-radius: .25rem !important;
            border-bottom-right-radius: .25rem !important;
        }
    }

    > .input-group-append,
    > .input-group-prepend:not(:first-child) {
        > .btn,
        > .input-group-text {
            border-top-right-radius: .25rem !important;
            border-bottom-right-radius: .25rem !important;
        }
    }

    > .input-group-prepend:first-child {
        > .btn:not(:first-child),
        > .input-group-text:not(:first-child) {
            border-top-right-radius: .25rem !important;
            border-bottom-right-radius: .25rem !important;
        }
    }
}

@media (max-width: 767.98px) {
    .input-group {
        margin-bottom: .875rem;
    }
}

// TABLES
table {
    th {
        font-weight: 500;
        vertical-align: middle;
    }

    td {
        font-weight: 400;
        vertical-align: middle;
    }

    &.table {
        td {
            padding-top: .8rem;
            padding-bottom: .8rem;

            .form-check-input[type="checkbox"] + label {
                height: 1rem;
            }
        }

        th {
            .form-check-input[type="checkbox"] + label {
                height: 1rem;
            }

            .form-check-input[type="checkbox"],
            .form-check-input[type="checkbox"]:not(.filled-in) {
                + label::before,
                + label::after {
                    border: 2px solid #ffffff;
                }
            }

            .form-check-input[type="checkbox"]:checked {
                + label::before {
                    border-top: 2px solid transparent;
                    border-left: 2px solid transparent;
                    border-right: 2px solid #ffffff;
                    border-bottom: 2px solid #ffffff;
                }
            }

            label.btn {
                .form-check-input[type="checkbox"]:checked {
                    + label::before {
                        border-top: 2px solid transparent;
                        border-left: 2px solid transparent;
                        border-right: 2px solid #ffffff;
                        border-bottom: 2px solid #ffffff;
                    }
                }
            }
        }

        a {
            color: #6200ea;
            &:hover {
                color: lighten(#6200ea, 15%);;
            }
        }
    }
}

// TOASTS
.md-toast-message {
    font-weight: 400;

    &:first-letter {
        text-transform: capitalize;
    }
}

.md-toast-top-right {
    top: 6rem;
}

@media (max-width: 767.98px) {
    .md-toast-top-right {
        top: 4rem;
    }
}

// TREEVIEWS
.treeview-animated {
    .treeview-animated-list {
        .treeview-animated-items {
            .nested {
                &::before {
                    background-color: map-get($material-colors, "secondary-color");
                }
            }
            
            .closed {
                color: inherit;

                &:hover {
                    color: inherit;
                    background-color: lighten(map-get($material-colors, "primary-color"), 35%);
                }
            }

            .open {
                color: #f8f9fa;
                background-color: map-get($material-colors, "primary-color");

                &:hover {
                    color: #f8f9fa;
                    background-color: map-get($material-colors, "primary-color-dark");
                }
            }
        }

        .treeview-animated-element {
            color: inherit;

            &:hover {
                background-color: lighten(map-get($material-colors, "primary-color"), 35%);
            }
        
            &.opened,
            &.open {
                color: #f8f9fa;
                background-color: map-get($material-colors, "primary-color-dark");
        
                &:hover {
                    background-color: map-get($material-colors, "primary-color-dark");
                }
            }
        }
    }
}

// CUSTOM ADD-ON
// text
.text-underline {
    text-decoration: underline;
}

// background
.transparent {
    background-color: transparent !important;
}

// hr
.hr-primary {
    border-top: 1px solid map-get($basic, "primary");
}

// CUSTOM OVERWRITE
// form validation
.invalid-tooltip,
.valid-tooltip {
    margin-top: unset;
    padding: .1rem .5rem;

    &:first-letter {
        text-transform: capitalize;
    }
}

// select
select.custom-select,
select.mdb-select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// scrollbar
.scrollbar.scrollbar-primary-gradient::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
    
.scrollbar.scrollbar-primary-gradient::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
    
.scrollbar.scrollbar-primary-gradient::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left top, right top, from(#b388ff), to(#651fff));
    background-image: -webkit-linear-gradient(left, #b388ff 0%, #651fff 100%);
    background-image: linear-gradient(to right, #b388ff 0%, #651fff 100%);
}

.scrollbar.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}
    
.scrollbar.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}
    
.scrollbar.thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}