main {
    min-height: calc(100vh - (3rem * 2 + 74.203px));
}

// navbar
nav.navbar {
    background: -webkit-linear-gradient(50deg, #b39ddb, #7873f5)!important;
    background: -o-linear-gradient(50deg, #b39ddb, #7873f5)!important;
    background: linear-gradient(40deg, #b39ddb, #7873f5)!important;
    font-weight: 400 !important;
}

nav.navbar:not(.top-nav-collapse) {
    background: #673ab7 !important;
}

nav.navbar.home:not(.top-nav-collapse) {
    background: rgba(103, 58, 183, 0.55) !important;
}

@media (max-width: 767px) and (min-width: 400px),
(max-width: 850px) and (min-width: 800px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        max-height: 360px;
    }
}

// links
a {
    color: #6200ea;
}

a:hover {
    color: lighten(#6200ea, 15%);
}

a.deep-purple-text {
    color: #6200ea !important;
}

a.deep-purple-text:hover {
    color: lighten(#6200ea, 15%) !important;
}

// dropdown
.navbar .dropdown-menu-right {
    right: 0.5rem;
}

.navbar .dropdown-menu-right .dropdown-item {
    display: block;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:hover,
.dropleft .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:hover,
.dropright .dropdown-menu .dropdown-item:active {
    background-color: #6e2ae5;
}

.deep-purple-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover,
.deep-purple-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active {
    color: #ffffff;
    background-color: #6e2ae5;
}

// table
table.table thead th {
    font-weight: 500;
    color: #6e2ae5;
}

table.table td, table.table th {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding: 0.65rem;
    vertical-align: middle;
}

// breadcrumb
nav > ol.breadcrumb {
    background-color: #d1c4e9;
}

.breadcrumb-item.active {
    color: #333333;
    font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 400;
    color: #333333;
}

// treeview
.treeview li > i.rotate ~ span {
    cursor: pointer !important;
}

// buttons
.btn-floating {
    border: none;
}

// form validation
.invalid-tooltip,
.valid-tooltip {
    top: unset;
    bottom: 1px;
    right: 1px;
}

// toast
.md-toast-top-right {
    top: 6rem;
}

// chip
.chip img {
    margin-left: -10px;
}
