main {
    min-height: calc(100vh - (72px + 74.203px));
}

// navbar
nav.navbar {
    background: -webkit-linear-gradient(50deg, #b39ddb, #7873f5)!important;
    background: -o-linear-gradient(50deg, #b39ddb, #7873f5)!important;
    background: linear-gradient(40deg, #b39ddb, #7873f5)!important;
    font-weight: 400 !important;
}

nav.navbar:not(.top-nav-collapse) {
    background: #673ab7 !important;
}

nav.navbar.home:not(.top-nav-collapse) {
    background: rgba(103, 58, 183, 0.55) !important;
}

// links
a {
    color: #6200ea;
}

a:hover {
    color: lighten(#6200ea, 15%);
}

a.deep-purple-text {
    color: #6200ea !important;
}

a.deep-purple-text:hover {
    color: lighten(#6200ea, 15%) !important;
}

// checkbox
// .deep-purple-skin input[type=checkbox]:checked+label:before {
//     border-color: #ac85f0;
//     background-color: #ac85f0;
// }

// .custom-control-input:focus~.custom-control-label::before {
//     box-shadow: 0 0 0 0.2rem rgba(172, 133, 240, .25);
// }

// table
table.table thead th {
    font-weight: 500;
    color: #6e2ae5;
}

table.table td, table.table th {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding: 0.65rem;
    vertical-align: middle;
}

// breadcrumb
nav > ol.breadcrumb {
    background-color: #d1c4e9;
}

.breadcrumb-item.active {
    color: #333333;
    font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 400;
    color: #333333;
}

// dropdown
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ede7f6;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff !important;
    background-color: #6e2ae5;
}

// treeview
.treeview li > i.rotate ~ span {
    cursor: pointer !important;
}