$roboto-font-path: "/fonts/roboto/";

$primary-color: #ac85f0 !default;
$secondary-color: #6e2ae5 !default;

$gradients: () !default;
$gradients: map-merge((
  "primary": (
    "start": #b39ddb,
    "end": #7873f5
  ),
  "primary-light-1": (
    "start": #d1c4e9,
    "end": #7873f5
  )
), $gradients);