main {
    min-height: calc(100vh - (3rem * 2 + 74.203px));
}

// navbar
nav.navbar {
    background: -webkit-linear-gradient(50deg, #b39ddb, #7873f5)!important;
    background: -o-linear-gradient(50deg, #b39ddb, #7873f5)!important;
    background: linear-gradient(40deg, #b39ddb, #7873f5)!important;
}

nav.navbar:not(.top-nav-collapse) {
    background: #673ab7 !important;
}

nav.navbar.home:not(.top-nav-collapse) {
    background: rgba(103, 58, 183, 0.55) !important;
}

@media (max-width: 767px) and (min-width: 400px),
(max-width: 850px) and (min-width: 800px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        max-height: 360px;
    }
}

// headers text
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

// links
a {
    color: #6200ea;
}

a:hover {
    color: lighten(#6200ea, 15%);
}

a.deep-purple-text {
    color: #6200ea !important;
}

a.deep-purple-text:hover {
    color: lighten(#6200ea, 15%) !important;
}

// dropdown
.navbar .dropdown-menu-right {
    right: 0.5rem;
}

.navbar .dropdown-menu-right .dropdown-item {
    display: block;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:hover,
.dropleft .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:hover,
.dropright .dropdown-menu .dropdown-item:active {
    background-color: #6e2ae5;
}

.deep-purple-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover,
.deep-purple-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active {
    color: #ffffff;
    background-color: #6e2ae5;
}

// table
table.table thead th {
    font-weight: 500;
}

table.table tbody td {
    font-weight: 400;
}

table.table td,
table.table th {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding: 0.65rem;
    vertical-align: middle;
}

table thead.deep-purple.accent-3 .form-check-input[type=checkbox]:not(:checked)+label::before,
table thead.deep-purple.accent-3 label.btn input[type="checkbox"]:not(:checked)+label:before {
    border-color: #ffffff;
}

.deep-purple-skin table thead.deep-purple.accent-3 input[type=checkbox]:checked+label:before {
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}

// breadcrumb
nav > ol.breadcrumb {
    background-color: #d1c4e9;
}

.breadcrumb-item.active {
    color: #333333;
    font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 400;
    color: #333333;
}

// treeview
.treeview li > i.rotate ~ span {
    cursor: pointer !important;
}

// buttons
.btn-floating {
    border: none;
}

// form validation
.invalid-tooltip,
.valid-tooltip {
    margin-top: unset;
    padding: .1rem .5rem;
}

// input
.input-group {
    margin-bottom: 1.875rem;
}

.input-group .md-form.md-outline {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group .md-form.md-outline input {
    border-radius: .25rem;
    margin-bottom: 0;
    height: calc(1.5em + .75rem + 2px);
}

.input-group.input-group-sm .md-form.md-outline input {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    height: calc(1.5em + .5rem + 2px);
}

.input-group .md-form.md-outline input + label:not(.active) {
    font-weight: 400;
}

.input-group.input-group-sm .md-form.md-outline input + label {
    font-size: .875rem;
}

.input-group.input-group-sm .md-form.md-outline input:not(:focus) + label {
    transform: translateY(6px);
}

.input-group > .md-form.md-outline:not(:last-child) input {
    border-radius: .25rem 0 0 .25rem;
    border-right: none;
}

.input-group > .md-form.md-outline:not(:first-child) input{
    border-radius: 0 .25rem .25rem 0;
    border-left: none;
}

// .deep-purple-skin input[type="email"]:focus:not([readonly]),
// .deep-purple-skin input[type="text"]:focus:not([readonly]),
// .deep-purple-skin input[type="password"]:focus:not([readonly]),
// .deep-purple-skin input[type="number"]:focus:not([readonly]),
// .deep-purple-skin textarea.md-textarea:focus:not([readonly]) {
//     box-shadow: 0 0px 0px 0.2rem rgba(172, 133, 240, .25);
// }

@media (max-width: 767.98px) {
    .input-group {
        margin-bottom: .875rem;
    }
}

// toast
.md-toast-top-right {
    top: 6rem;
}

@media (max-width: 767.98px) {
    .md-toast-top-right {
        top: 4rem;
    }
}

// chip
.chip img {
    margin-left: -10px;
}

// select
select.custom-select,
select.mdb-select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// background
.transparent {
    background-color: transparent !important;
}