<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
	<div class="card card-body border border-success">
		<h3 class="text-info">Add Service</h3>
		<form action="" method="post" id="addService">
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						{{!-- Practical 5 Exercise 2: Add a title input text here named 'title'--}}
						<label class="font-italic" for="name">Service name:</label>
						<input class="form-control" type="text" name="name" id="name">
					</div>
					<div class="form-group mb-4">
						<label class="font-italic" for="desc">Service Description:</label>
						<textarea class="form-control" id="desc" name="desc" rows="7"></textarea>
					</div>
					<div class="form-group">
						<label class="font-italic" for="price">Price ($):</label>
						<input class="form-control" type="number" name="price" id="price">
					</div>
				</div>
				<div class="col-lg-3">
					<input type="file" id="serviceUpload" name="serviceUpload" accept="image/png,image/jpeg,image/jpg,image/gif">
					<img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid"
						style="height:95%;width:100%">
					<input id="posterURL" type="hidden" name="posterURL">
					<div class="font-weight-bold text-danger small" id="posterErr" style="display:none"></div>
				</div>
			</div>
			<br>
            <button id="butcancel" type="submit" class="btn btn-danger" action="/">Cancel</button>
			<button id="butaddService" type="submit" class="btn btn-info" action="/services/AddService">Add Service
			</button>
		</form>
	</div>
</div>
{{!-- <script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		value: new Date().toLocaleDateString('en-AUS'),
		uiLibrary: 'bootstrap4',
	});
</script> --}}