<link rel="stylesheet" href="/css/services.css">
<div class="container">
    {{!-- {{#if services}} --}}
    <div class="card card-body">
        <h3 class="text-info">Services</h3>
        <div class="row">
            {{!-- {{#each services}} --}}
            <div class="column">
                <div class="card services">
                    
                </div>
            </div>
            {{!-- {{/each}} --}}
        </div>
    </div>
</div>