<div class="container">
    {{!-- {{#if services}} --}}
    <div class="card card-body">
        <h3 class="text-info">Services</h3>
        {{!-- {{#each services}} --}}
        <div class="card border-success mb-2 w-100 col-sm-4">
            
        </div>
    </div>
</div>