<section class="payment-service">

    <div class="card ">
        <div class="vh-75 row justify-content-around p-5">
            <div class="col-5">
                <!-- Card -->
                <div class="vh-60 card testimonial-card">

                    <!-- Background color -->
                    <div class="card-up indigo lighten-1"></div>

                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
                            alt="woman avatar">
                    </div>

                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title">Anna Doe</h4>
                        <hr>
                        <!-- Quotation -->
                        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Eos, adipisci</p>
                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col-2 row justify-content-center align-items-center">
                <i class=" far fa-arrow-right fa-4x my-auto"></i>
            </div>

            <div class="col-5">
                <div class="vh-60 card testimonial-card">

                    <!-- Background color -->
                    <div class="card-up indigo lighten-1">
                        <img style="" class="card-img-top img-fluid jarallax-img lozad" src="https://picsum.photos/2000/" alt="">
                    </div>

                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://picsum.photos/id/659/400/" class="rounded-circle lozad" alt="">
                    </div>

                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title">John Doe</h4>
                        <hr>
                        <!-- Quotation -->
                        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Eos, adipisci</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>