<section class="payment-service">

    <div class="card z-depth-2">
        <div class="vh-100 row justify-content-around p-5">
            <div class="col-12 row justify-content-around">
                <h1 class="text-center col-12">Send Payment</h1>
            </div>
            <div class="col-4">
                <h1 class="text-center">From</h1>
                <!-- Card -->
                <div class="vh-60 card testimonial-card">

                    <!-- Background color -->
                    <div class="card-up indigo lighten-1">
                        <img style="" class="card-img-top img-fluid jarallax-img lozad" src="https://picsum.photos/900/"
                            alt="">
                    </div>

                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
                            alt="woman avatar">
                    </div>

                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title">Anna Doe</h4>
                        <hr>
                        <!-- Quotation -->
                        <div class="row justify-content-between">
                            <h6 class="text-left col-5"><b>Paypal Email:</b></h6>
                            <h6 class="text-right col-7"> annadoe12@gmail.com</h6>
                            <h6 class="text-left col-5"><b>Payment Amount:</b></h6>
                            <h6 class="text-right col-7"> $50</h6>
                        </div>

                    </div>
                    <div class="text-center">
                        <a href="/services/"><button class="btn btn-purple"> Back </button></a>
                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col-2 row justify-content-center align-items-center">
                <i class=" far fa-arrow-right fa-4x my-auto"></i>
            </div>

            <div class="col-4">
                <h1 class="text-center">To</h1>
                <div class="vh-60 card testimonial-card">

                    <!-- Background color -->
                    <div class="card-up indigo lighten-1">
                        <img style="" class="card-img-top img-fluid jarallax-img lozad"
                            src="https://picsum.photos/1000/" alt="">
                    </div>

                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://picsum.photos/id/659/400/" class="rounded-circle lozad" alt="">
                    </div>

                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title">John Doe</h4>
                        <hr>
                        <!-- Quotation -->
                        <div class="row justify-content-between">
                            <h6 class="text-left col-5"><b>Paypal Email:</b></h6>
                            <h6 class="text-right col-7"> johndoe34@gmail.com</h6>

                        </div>
                    </div>
                    <div class="text-center">
                        <a href="https://www.paypal.me/"><button class="btn btn-purple"> Send </button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>