<section class="viewservice container mx-auto">
    <div class="jumbotron">
        <div class="row">
            <div class="col-6">
                <div class="service-overview">
                    <h2 class="text-left font-weight-bold">Service Title</h2>
                    <div class="user">
                        <img class="rounded-circle avatar" src="/img/services/default.jpg" alt="Profile picture unavailable">
                        <span class="font-weight-bold">Username</span>
                    </div>
                </div>
                <figure class="service-img">
                    <img class="img-thumbnail" src="/img/services/default.jpg" alt="Poster not available">
                </figure>
                <div class="service-desc">
                    <header>
                        <h3 class="font-weight-bold">About this Service</h3>
                    </header>
                    <h4 class="text-danger text-left font-weight-bold">Price: $500.00</h4>
                    <p class="text-left">Some description goes here</p>
                </div>
            </div>
        </div>
    </div>
</section>