<section class="files">
    <div class="row mb-0 mb-md-4">
        <div class="col-12 col-md-3">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" name="search">
                <div class="input-group-append">
                    <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9 mt-3 mt-md-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Project 1</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 my-4 my-md-0">
            <div class="treeview card card-cascade narrower">
                <div
                    class="view view-cascade primary-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
                    <span class="white-text mx-3">Folders</span>
                </div>

                <a data-toggle="collapse" href="#treeContent">
                    <h6 class="pt-3 pl-3">
                        <i class="far fa-folders"></i> Folders
                        <i class="float-right pr-3 fas fa-angle-up rotate-icon"></i>
                    </h6>
                </a>

                <hr class="mb-0">

                <ul class="mt-4 mb-1 pl-3 pb-2 collapse show" id="treeContent">
                    <li>
                        <i class="fas fa-angle-right rotate"></i>
                        <span><i class="far fa-folder"></i> Project 1</span>
                        <ul class="nested">
                            <li><i class="far fa-folder"></i> img</li>
                        </ul>
                    </li>
                    <li>
                        <span><i class="far fa-folder"></i> Project 2</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-9 col-lg-7">
            <div class="card card-cascade narrower">
                <div
                    class="view view-cascade primary-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
                    <span class="white-text mx-3">Project 1</span>
                </div>

                <div class="card-body">
                    <div class="table-responsive min-vh-40" style="overflow-x: hidden;">
                        <div class="table-editable table-hover mb-0">
                            <table id="filesTable" class="table table-striped text-center">
                                <thead class="deep-purple lighten-5 white-text">
                                    <th class="d-none d-md-table-cell">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="cAll">
                                            <label class="form-check-label" for="cAll"></label>
                                        </div>
                                    </th>
                                    <th>Name</th>
                                    <th class="d-none d-md-table-cell">Size</th>
                                    <th class="d-none d-md-table-cell">Content Type</th>
                                    <th class="d-none d-md-table-cell">Last Updated</th>
                                    <th class="d-table-cell d-md-none">Actions</th>
                                </thead>
                                <tbody>
                                    <form method="post">
                                        {{>_filesRow}}
                                        <!-- ToDo: Insert data rows -->
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block col-md-2 animated fadeIn">
            <div class="card card-cascade narrower action-card sticky">
                <div
                    class="view view-cascade primary-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
                    <span class="white-text mx-3">Actions</span>
                </div>

                <div class="card-body card-body-cascade p-0">
                    <div class="defaultActions">
                        <div class="list-group list-group-flush">
                            <button class="list-group-item list-group-item-action" data-toggle="modal"
                                data-target="#uploadModal">
                                <i class="far fa-cloud-upload-alt"></i> Upload File(s)
                            </button>
                            <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newFileModal">
                                <i class="far fa-file-plus"></i> New File
                            </button>
                            <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newFolderModal">
                                <i class="far fa-folder-plus"></i> New Folder
                            </button>
                        </div>
                    </div>

                    <div class="cbActions animated fadeIn d-none">
                        <p class="mt-3 mb-1">
                            <small id="selectCount" class="px-3 font-weight-bolder grey-text">0 File Selected</small>
                        </p>

                        <div class="list-group list-group-flush">
                            <button class="list-group-item list-group-item-action">
                                <i class="far fa-cloud-download-alt"></i> Download
                            </button>
                            <button class="list-group-item list-group-item-action">
                                <i class="far fa-comments"></i> Comment
                            </button>
                            <button class="list-group-item list-group-item-action">
                                <i class="far fa-i-cursor"></i> Rename
                            </button>
                            <button class="list-group-item list-group-item-action">
                                <i class="fas fa-exchange-alt"></i> Move
                            </button>
                            <button class="list-group-item list-group-item-action">
                                <i class="far fa-copy"></i> Copy
                            </button>
                            <button class="list-group-item list-group-item-action">
                                <i class="far fa-trash-alt"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Files Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-cloud-upload-alt mr-1"></i> UPLOAD FILE(S)
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="files-upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" multiple />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New File -->
    <div class="modal fade" id="newFileModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-file-plus mr-1"></i> NEW FILE
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Filename" name="name">
                            <span class="input-group-text border-left-0 border-right-0 rounded-0">.</span>
                            <input class="form-control" type="text" placeholder="Extension" name="ext">

                            <div class="input-group-append">
                                <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect">
                                    <i class="far fa-file-plus mr-1"></i> Create File
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New Folder -->
    <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-folder-plus mr-1"></i> NEW FOLDER
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Folder Name" name="name">

                            <div class="input-group-append">
                                <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect">
                                    <i class="far fa-file-plus mr-1"></i> Create Folder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{#extend "fixedAction"}}
<!-- Mobile FAB Action -->
<div class="dropdown fixed-bottom text-right d-block d-md-none" id="mobileActions">
    <button class="btn btn-floating primary-gradient dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="fas fa-plus"></i>
    </button>

    <div class="dropdown-menu dropdown-primary mb-2">
        <button class="dropdown-item" data-toggle="modal" data-target="#uploadModal">
            <i class="far fa-cloud-upload-alt"></i> Upload File(s)
        </button>
        <button class="dropdown-item">
            <i class="far fa-file-plus"></i> New File
        </button>
        <button class="dropdown-item">
            <i class="far fa-folder-plus"></i> New Folder
        </button>
    </div>
</div>
{{/extend}}

{{#extend 'scripts'}}
<script src="/js/vendor/mdb/datatables.min.js"></script>
<script src="/js/vendor/mdb/datatables-select.min.js"></script>
<script src="/js/files.js"></script>
{{/extend}}