<section class="files">
    <div class="row mb-3 mb-md-0">
        <div class="col-12 col-md-9">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Library</li>
                </ol>
            </nav>
        </div>

        <div class="col-12 col-md-3">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" name="search">
                <div class="input-group-append">
                    <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect" type="button">
                        <i class="fas fa-search"></i>
                    </button >
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-editable">
                        <table id="filesTable" class="table table-bordered table-striped text-center">
                            <thead>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkAll">
                                        <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th>Name</th>
                                <th class="d-none d-md-table-cell">Size</th>
                                <th class="d-none d-md-table-cell">Content Type</th>
                                <th class="d-none d-md-table-cell">Last Updated</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-none d-md-block col-md-3">
            <div class="list-group">
                <button class="list-group-item list-group-item-action">
                    <i class="far fa-cloud-upload-alt"></i> Uploade File(s)
                </button>
                <button class="list-group-item list-group-item-action">
                    <i class="far fa-plus"></i> Create New File
                </button>
                <button class="list-group-item list-group-item-action">
                     <i class="far fa-folder-plus"></i> New Folder
                </button>
            </div>
            
            <div class="list-group">
                <button class="list-group-item list-group-item-action">
                    <i class="far fa-cloud-upload-alt"></i> Uploade File(s)
                </button>
                <button class="list-group-item list-group-item-action">
                    <i class="far fa-plus"></i> Create New File
                </button>
                <button class="list-group-item list-group-item-action">
                     <i class="far fa-folder-plus"></i> New Folder
                </button>
            </div>
            {{!-- <div class="card action-card">
                <div class="card-body text-center">
                    <button class="btn">
                        <i class="far fa-cloud-upload-alt"></i> Uploade File(s)
                    </button>
                    <button class="btn">
                        <i class="far fa-plus"></i> Create New File
                    </button>
                    <button class="btn">
                        <i class="far fa-folder-plus"></i> New Folder
                    </button>

                    <hr class="my-4">
                    
                    <p>0 File Selected</p>
                    <button class="btn">
                        <i class="far fa-share-square"></i> Share
                    </button>
                    <button class="btn">
                        Download
                    </button>
                    <button class="btn">Comment</button>
                    <button class="btn">Rename</button>
                    <button class="btn">Move</button>
                    <button class="btn">Copy</button>
                    <button class="btn">Delete</button>
                </div>
            </div> --}}
        </div>
    </div>
</section>